*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html , body {
   height: 100%;

}

.wraper {
   height: 100%;
}

.container {
   width: 1300px;
   margin: 0 auto;
   display: flex;
   flex-flow: column;
   min-height: 100%; 

}

.container_menu {
   background: rgb(173, 189, 70);
   position: relative;
   padding: 20px 0 ;
}

.main_ul {
   display: flex;
   justify-content: center;
   column-gap: 30px;
   font-size: 0;
}

.main_ul > li {
text-transform: uppercase;
background: orange;
position: relative;
display: inline-block;
font-size: 16px;

}


.main_ul > li:hover .second_ul {
	/* display: block; */
top: 100%;
}

.main_ul > li:hover,
.second_ul > li:hover {
	background: rgb(0, 255, 106);
}

.main_ul > li a {
   color: rebeccapurple;
   text-decoration: none;
   padding: 10px 25px;
   display: block;
   white-space: nowrap ;
}

.second_ul {
   position: absolute;
   top: -500%;
   left: 0;
   transition: all 1s cubic-bezier(.82,.1,.31,.92);
   /* display: none; */
   white-space: nowrap ;
}

.second_ul > li {
   background: rgb(41, 184, 209);
}

.second_ul > li:hover .last_ul {
   /* display: block; */
   right: 100%;
}

.last_ul {
   /* display: none; */
   right: -1000%;
   top: 0%;
   position: absolute;
   transition: all 1s cubic-bezier(.82,.1,.31,.92);
   
}



.last_ul > li {
   background: orange;
   margin-bottom: 10px;

}

.second_ul > li:hover,
.last_ul li:hover {
   background: rgb(0, 255, 106);
}


.layouts {
   position: relative;
}

.text {
   padding: 20px 0;
   text-align: center;
   flex: 1;
}

.footer {
   background: rgb(173, 189, 70);
   padding: 25px 0;
   display: flex;
   justify-content: center;
   column-gap: 30px;
}

.icon {
   width: 40px;
   height: 40px;
   fill: #fff;
}

.icon:hover {
   fill: red;
   cursor: pointer;
}

.home_solid ,
.images_solid {
   width: 20px;
   height: 20px;
   fill: #fff;
}



.main_ul span  ,
.main_ul  svg  {
   vertical-align: middle;
   margin-left: 5px;
   text-align: center;
} 